@import "./global.css";

body {
    margin: 0;
    font-family: "Arial", "sans-serif";
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.end {
    display: flex;
    justify-content: end;
    align-items: center;
}

button {
    padding: 1vh;
    width: 70vw;
    min-height: 7vh;
    border: 0;
    font-size: 3vh;
    border-radius: 10px;
    font-weight: bold;
}

header {
    height: 20vh;
    background-color: var(--color-1);
    color: white;
}

header .box-1 {
    height: 50% !important;
}

header img {
    width: 50px;
    height: 50px;
    margin: 2vh;
    border-radius: 50%;
}

header h1 {
    margin: 0;
}

.main-1 {
    min-height: 66vh;
    padding: 3vh;
    background-color: rgb(212, 212, 212);
}

.desc {
    width: 70vw;
    margin: 0;
    margin-bottom: 3vh;
    text-align: center;
    font-size: 18px;
}

.buttons button {
    margin-bottom: 3vh;
    background-color: var(--color-2);
    color: white;
}

.main-2 {
    min-height: 86vh;
    padding: 3vh;
    background-color: rgb(212, 212, 212);
}

.main-3 {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-2);
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-main {
    width: 50vw;
}

.desc-main {
    color: white;
    width: 70vw;
    text-align: center;
    font-weight: bold;
    font-size: 3vh;
    margin: 3vh 0;
}

.button-main {
    font-size: 3vh;
    background-color: #d3eaff;
}

.return button {
    height: 7vh;
    width: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: 0;
    border-radius: 10px;
}

.return button svg {
    width: 16px;
    fill: var(--gray-1);
}

.titulo {
    text-align: center;
}

.main-2 .box-1 {
    padding: 3vh;
}

.episodios button {
    margin-bottom: 3vh;
    background-color: var(--color-2);
    color: white;
}

footer {
    height: 8vh;
    margin: 0;
    background-color: var(--gray-1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer p {
    margin: 0;
}